@import "custom";
@import "mediaqueries";

/*fonts*/
@montserrat: 'Montserrat', sans-serif;
@muli: 'Muli', sans-serif;
@roboto: 'Roboto', sans-serif;

/*colors*/
@gray: #6C7A89;
@green: #16A085;
@yellow: #F4D03F;
@blue: #446cb3;
@purple: #674172;
@white: #EEEEEE;
